body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  color: #00ee00;
  background: #111111;
  font-size: 3vh;
  line-height: 4vh;
}

.events-container {
  width: 95vw;
  height: 85vh;
  margin-bottom: 2vw;
  overflow-y: scroll;
  padding: 2vw;
}

#input {
  width: 98.5vw;
  height: 4vh;
  position: fixed;
  font-family: 'VT323', monospace;
  font-size: 3vh;
  bottom: 3vh;
  padding: 2vw;
}

#input-element{
  width: 90%;
  padding-left: 2vh;
  height: 4vh;
  color: #00ee00;
  background: transparent;
  font-family: 'VT323', monospace;
  font-size: 3vh;
  border: none;
  outline: none;
}

.image{
  margin: 0 auto;
  display: block;
  font-family: 'VT323', monospace;
  line-height: 2.32vw;
  text-align: center;

}

.imageLine{
  font-size: 2.32vw;
  white-space: pre;
  overflow-x: hidden;
}

.command-block-key, .command-block-tip{
  display:inline-block;
  white-space: pre-wrap;
}