body {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    color: #00ee00;
    background: #111111;
    font-size: 1.5em;
    line-height: 1.3em;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.events-container {
    margin-bottom: 3em;
    padding: 1em;
}

#input {
    width: 100%;
    position: fixed;
    background: #111111;
    bottom: 0;
    padding: 1em;

    display: flex; /* or inline-flex */
    flex-direction: row
}

#input-tag {
    white-space: pre;
}

#input-element {
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
}

.image {
    margin: 0 auto;
    width: fit-content;
    line-height: 1.5vw;
}

.imageLine {
    font-size: 1.5vw;
    white-space: pre;
    overflow-x: hidden;
}

.command-block-key, .command-block-tip {
    display: inline-block;
    white-space: pre-wrap;
}

@media (max-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    body {
        font-size: 1em;
    }

    .image {
        line-height: 2.32vw;
    }

    .imageLine {
        font-size: 2.32vw;
    }

}

